@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli');
:root {
  --cmf-green: #12745E;
  --cmf-white: #FBFBFB;
  --cmf-blue: #6BABB5;
}

body {
  font-family: 'Muli', sans-serif;
}

main {
  padding: 7rem 0;
}

.feature-font {
  font-family: 'Libre Baskerville', serif;
}

.header nav {
  justify-content: start;
  padding-left: 145px;
}

.footer {
  min-height: 36rem;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
}

.modal-box {
  height: 80vh;
  width: 90%;
}

.modal-box input {
  width: 90%;
  margin: .5rem auto;
  outline: none;
  padding: .5rem;
  border: none;
  border-bottom: 2px solid var(--cmf-green);
}

.double_b_btns {
  position: relative;
  border: 2px solid var(--cmf-green);
  background-color: var(--cmf-white);
  color: var(--cmf-green);
  text-align: center;
  padding: .75rem 0;
  width: 157px;
  margin: 0.75rem auto;
  border-radius: 3px;
}

.double_b_btns:before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid var(--cmf-white);
  border-radius: 3px;
}

.bg_cmf_green {
  background-color: var(--cmf-green);
}

.bg_cmf_islamic {
  background-color: var(--cmf-green);
  background-image: url(cmf_pattern.png);
  background-size: 50px 50px;
  background-position: center 57px;
}

.header-img {
  position: absolute;
  width: 160px;
  left: -20px;
  top: -50px;
  border: solid 2px var(--cmf-green);
  border-radius: 50%;
}

.person {
  background-color: var(--cmf-white);
  height: 99px;
}

.cmf-blue {
  color: var(--cmf-blue);
}

.person .avatar {
  background-position: center center;
  background-size: cover;
  width: 127px;
  height: 127px;
}

.person .icon {
  width: 57px;
}

@media screen and (min-width: 30rem) {
  .footer {
    min-height: 16rem;
  }
}
