@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Muli');
:root {
  --cmf-green: #12745E;
  --cmf-white: #FBFBFB;
  --cmf-blue: #6BABB5;
  --cmf-yellow: #B6B112;
  --cmf-teal: #9BC4BB;
  --cmf-trans-yellow: rgba(182, 177, 18, 0.9);
}

html, body {
  font-family: 'Muli', sans-serif;
}

#elm-root {
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  padding: 7rem 0;
}

.cmf-blue {
  color: var(--cmf-blue) !important;
}

.cmf-teal {
  color: var(--cmf-teal) !important;
}

.cmf-white {
  color: var(--cmf-white) !important;
}

.bg_cmf_green {
  background-color: var(--cmf-green) !important;
}

.bg_cmf_blue {
  background-color: var(--cmf-blue) !important;
}

.bg_cmf_white {
  background-color: var(--cmf-white) !important;
}

.bg_cmf_teal {
  background-color: var(--cmf-teal) !important;
}

.bg_trans_yellow {
  background-color: var(--cmf-trans-yellow) !important;
}

.feature-font {
  font-family: 'Libre Baskerville', serif;
}

.header nav {
  padding-left: 145px;
}

.footer {
  min-height: 36rem;
}

.loading {
  min-height: 80vh;
  -webkit-box; display: -ms-flexbox; display: flex;
  -webkit-box-align: center; -ms-flex-align: center; align-items: center;
  -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
  color: var(--cmf-teal);
  font-size: 2rem;
}

.loading::after{
  content: "";
  animation: loading 6s;
  animation-iteration-count: infinite;
}

@keyframes loading {
  0% {
    color: white;
    content: "loading ...";
  }
  25% {
    color: var(--cmf-teal);
    content: "loading ...";
  }
  50% {
    color: white;
    content: "loading ...";
  }
  51% {
    color: white;
    content: "... المحمل";
  }
  75% {
    color: var(--cmf-teal);
    content: "... المحمل";
  }
  100% {
    color: white;
    content: "... المحمل";
  }
}

.modal {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
}

.modal-box {
  height: 70vh;
  width: 90%;
}

.modal-box input {
  width: 90%;
  margin: .5rem auto;
  outline: none;
  padding: .5rem;
  border: none;
  border-bottom: 2px solid var(--cmf-green);
}

.btns_teal {
  border-color: var(--cmf-teal) !important;
  color: var(--cmf-teal) !important;
}

.double_b_btns {
  position: relative;
  border: 2px solid var(--cmf-green);
  background-color: var(--cmf-white);
  color: var(--cmf-green);
  text-align: center;
  line-height: 42px;
  width: 157px;
  height: 46px;
  margin: 0.75rem auto;
  border-radius: 3px;
}

.double_b_btns:before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid var(--cmf-white);
  border-radius: 3px;
}


.bg_cmf_islamic {
  background-color: var(--cmf-green);
  background-image: url(cmf_pattern.svg);
  background-size: 135px 231px;
  background-position: center center;
}

.bg_cmf_christian {
  background-image: url(cmf_pattern_christian.svg);
  background-size: 45px 45px;
  background-position: center center;
}

.header-img {
  position: absolute;
  width: 160px;
  left: -29px;
  top: -57px;
  border: solid 2px var(--cmf-green);
  border-radius: 50%;
  z-index: 1;
}

.person {
  background-color: var(--cmf-white);
  height: 99px;
}

.person .avatar {
  background-position: center center;
  background-size: cover;
  width: 127px;
  height: 127px;
}

.person .icon {
  width: 57px;
}

.article-person .person {
  position: relative;
  background-color: var(--cmf-teal);
  color: var(--cmf-white);
  margin-top: -2rem;
}


.article-card-img {
  position: relative;
  width: 100%;
  height: 24rem;
  background-position: center top;
  background-size: cover;
  display: inline-block;
}

.article-card-title {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: auto;
  color: var(--cmf-white);
  background-color: var(--cmf-trans-yellow);
}

.article-card-author {
  background-color: var(--cmf-blue);
  color: var(--cmf-white);
  height: 47px;
}


.article-card-author img {
  width: 57px;
  position: relative;
  z-index: 1;
}

.article-hero {
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.article-copy .alignleft {
  float: left;
  padding-right: 1rem;
}

.article-copy .alignright {
  float: right;
  padding-left: 1rem;
}

.article-forum-icon {
  position: absolute;
  top: -2em;
  right: 1rem;
  width: 3rem;
}

.result {
  height: 11.8rem;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.result {
  height: 18.5rem;
}

.result-img {
  background-position: center top;
  background-size: cover;
  border-top-left-radius: .25rem;
  position: absolute;
  top:0;
  bottom:55%;
  left:0;
  right:0;
}

.result-body {
  position: absolute;
  top:45%;
  bottom:0;
  right:0;
  left:0;
}

.result-author {
  position: absolute;
  bottom: 0.25rem;
  right: .25rem;
}

.event-card, .event {
  position: relative;
}

.event-card-img {
  background-position: center center;
  background-size: cover;
  height: 8.8rem;
  width: 8.8rem;
}

.event-card-date {
  height: 4.25rem;
  width: 4rem;
  position: absolute;
  top: 0;
  left: 4.85rem;
  background-color: var(--cmf-white);
}

.event-img {
  position: relative;
  width: 100%;
  height: 50vh;
  background-position: center center;
  background-size: cover;
}

.event-date {
  position: absolute;
  top: 0;
  right: 0;
}

.event-title {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: auto;
}

.search-box {
  border: solid 2px var(--cmf-blue);
}

.alignleft {
  float: left;
  padding-right: 1rem;
}

.alignright {
  float: right;
  padding-left: 1rem;
}

@media screen and (min-width: 30rem) {
  .footer {
    min-height: 16rem;
  }
  .article-card-excerpt {
    height: 8.8rem;
    overflow-y: hidden;
  }
  .article-hero {
    background-position: center top;
  }
  .modal-box {
    height: 50vh;
    width: 40%;
  }
}

@media screen and (min-width: 48rem) {
  .result-img {
    background-position: center center;
  }
  .bg_cmf_christian {
    background-size: 90px 90px;
  }
}

@media screen and (min-width: 60em) {
  .event-card-date {
    height: 8.8rem;
    width: 8.8rem;
    position: static;
  }
}
